.auth-container {
    .card {
        margin: auto;

        .card-header {
            padding: 35px;

            h2 {
                color: $heading_color;
                font-weight: 700;
            }
        }

        .card-body{
            a{
                color: $theme-color;
            }
        }

        @media(min-width: 576px) {
            margin-top: 50px;
            margin-bottom: 50px;
            width: 500px;
        }
    }
}