.slider-height {
    min-height: 850px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media #{$laptop} {
        min-height: 700px;
    }

    @media #{$md} {
        min-height: 600px;
    }

    @media #{$xs} {
        min-height: 550px;
    }
}

.slider-height2 {
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media #{$xs} {
        min-height: 410px;
    }
}

.slider-area {
    margin-top: -1px;

    .hero__caption {
        padding-right: 29px;

        @media #{$xs} {
            padding-right: 0px;
        }

        & h1 {
            font-size: 80px;
            font-weight: 900;
            margin-bottom: 78px;
            color: $heading-color;
            line-height: 1.2;

            @media #{$xs} {
                font-size: 27px;
            }

            @media #{$sm} {
                font-size: 41px;
            }

            @media #{$lg} {
                font-size: 60px;
            }

            @media #{$md} {
                font-size: 50px;
            }
        }

        & p {
            color: #fff;
            font-size: 30px;
            line-height: 1.2;
            font-weight: 400;
            margin-bottom: 39px;
            font-family: $font_1;

            @media #{$xs} {
                margin-bottom: 30px;
            }
        }
    }

}

//
.hero-overly {
    position: relative;
    z-index: 0;

    &::before {
        position: absolute;
        content: "";
        background-color: rgba(32, 54, 38, .3);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-repeat: no-repeat;
    }
}

// Another Hero Page
.slider-area {
    .hero-cap {
        & h2 {
            color: #fff;
            font-size: 50px;
            font-weight: 700;
            text-transform: capitalize;

            @media #{$sm} {
                font-size: 40px;
            }

            @media #{$xs} {
                font-size: 40px;
            }

        }
    }
}


form.search-box {
    box-shadow: 0px 6px 29px 0px rgba(36, 43, 94, 0.08);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .input-form {
        width: 30%;
        position: relative;

        @media #{$xs} {
            width: 100%;
        }

        input {
            height: 70px;
            width: 100%;
            color: #777777;
            font-size: 18px;
            font-weight: 400;
            padding: 9px 33px 9px 32px;
            border: none;
            border-radius: 0px;
            position: relative;

            @media #{$xs} {
                margin-bottom: 20px;
            }

            @media #{$sm} {
                padding: 9px 33px 9px 25px;
                margin-bottom: 20px;
            }

            &::placeholder {
                color: #616875;

                @media #{$xs} {
                    font-size: 13px;

                }
            }
        }

        &::before {
            position: absolute;
            content: '';
            width: 1px;
            height: 51px;
            background: #e0e4f8;
            right: 22px;
            top: 50%;
            z-index: 1;
            transform: translateY(-50%);

            @media #{$sm} {
                display: none;
            }

            @media #{$xs} {
                display: none;
            }
        }
    }

    .select-form {
        width: 40%;

        @media #{$xs} {
            width: 100%;
        }

        

    }

    .search-form {
        width: 20%;

        @media #{$xs} {
            width: 100%;
        }

        a {
            width: 100%;
            height: 70px;
            background: $btn-bg;
            font-size: 20px;
            line-height: 1;
            text-align: center;
            color: #fff;
            display: block;
            padding: 15px;
            border-radius: 0px;
            text-transform: capitalize;
            font-family: $font_1;
            letter-spacing: 0.1em;
            line-height: 1.2;
            line-height: 38px;
            font-size: 14px;
        }
    }

}